/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Sans-serif", sans-serif;
    font-size: 16px;
    color: #ffffff;
    background-color: #f5f5f5;
    background-image: url('web.jpg');
    background-repeat: no-repeat;
     background-attachment: fixed;
    background-size: 100% 100%;
    
    
}

/* Search */ */
.search-container {
    padding-left: 20px;
    padding-bottom: 20px;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}


#searchButton {
    background-color: #eee9e9;
    color: #100606;
    border: none;
    padding: 9px 20px;
    cursor: pointer;
    border-radius: 20px;
}

#searchButton i {
    font-size: 28px;
}

#searchButton:hover {
    background-color: #0c1829;
}

/* Image */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    padding: 20px;
}

.image-frame {
    width: 200px;
    height: 200px;
    border: 4px solid #1b364b;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 25px
}

.image-frame img {
    width: 100%;
    margin-top: -15px;
    height: auto;
    border-radius: 50%;
}
#searchButton {
    background-image: url('s.jpg'); /* Replace with your image path */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: none;
    padding: 25px 20px;
    cursor: pointer;
    border-radius: px;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
  }








